---
layout: page.njk
description: "travel log"
showDestinationNav: true
pagination:
  data: collections.posts
  size: 15
  alias: posts
---

{% for post in posts %}
{% include "post-preview.njk" %}
{% endfor %}

<!-- Pager -->
{% if pagination.pages.length > 1 %}
<ul class="pager">
  {% if pagination.href.previous %}
  <li class="previous">
    <a href="{{ pagination.href.previous }}">&larr; Newer Posts</a>
  </li>
  {% endif %} {% if pagination.href.next %}
  <li class="next">
    <a href="{{ pagination.href.next }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
